.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
#travelDetailsForm {
	/* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 0 70px; */
	margin-top: 20px; 
	text-align: left; position:absolute; width:100%; bottom:-20px; z-index:10;
	letter-spacing: 0.1em; border:1px solid #b3ce2b; border-radius:50px; background:#fff; padding:0px 0px 0px 20px;
}

#travelDetailsForm i {color:#333;}


@media (max-width:1199px){

#travelDetailsForm {padding:0; border-radius:10px; bottom:-85px;}
}

.t-check-in,.t-check-out {border:transparent none;}

#travelDetailsForm .bootstrap.form-group{margin-bottom:0;}

#travelDetailsForm .bootstrap.form-group:after{width:2px; height:15px; display:block; background-color:#b3ce2b; content:""; top:12px; right:0px; position:absolute;}


#travelDetailsForm .bootstrap.form-group.last:after{display:none;}

@media(max-width:1199px){

#travelDetailsForm .bootstrap.form-group:after{display:none;}
}


#travelDetailsForm .booking-icon {position:absolute; top:14px; z-index:2;}
#travelDetailsForm label {
	font-size:11.0pt;
}


#destination {
	cursor: pointer;
}

#travelDetailsForm button[type="submit"] {
	padding: 12px 0;
	border: none;
	font-family: inherit;
	font-size: 12px;
	border-radius:0px 40px 40px 0px;
	font-style: inherit;
	font-weight: inherit;
	width: 100%;
}

#travelDetailsForm button[type="submit"] i {
 position:absolute;
right:15px;
top:14px;
color:#fff;
}



@media (max-width:1199px){
#travelDetailsForm button[type="submit"]{
border-radius:0px 0px 10px 10px; margin-bottom:-1px;
}

#travelDetailsForm .bootstrap.input-group {
border-bottom:1px solid #ddd;
}

#travelDetailsForm .bootstrap.input-group.lastbtn {

border-bottom:transparent none;
}
}

#travelDetailsForm .t-datepicker {
	color:#333;
	background-color: #fff;
	font-weight: normal;
}

#travelDetailsForm .t-datepicker .t-date-info-title {
	margin-left: 10px;
}

#option-guest {
	color: #333;
	font-size: 12px;
	font-weight: normal;
	width: 100%;
	padding: 14px 0 14px 12px;
    text-align: left;
}


#travelDetailsForm input,
#travelDetailsForm .t-datepicker label, #travelDetailsForm .t-datepicker span, #travelDetailsForm input::placeholder {
	background-color: #fff;
	color: #555;
	text-transform: none;
	font-weight: 480;
	font-size: 13px;
	letter-spacing: 0.1em;
	font-family: roboto;
	opacity: 1;
	border: transparent none;
 }

#travelDetailsForm input { background-color:transparent; margin-left:15px;}

@media(max-width:1199px){
#travelDetailsForm input {margin-left:25px; margin-right:25px;}
#travelDetailsForm .booking-icon {left:13px;}
} 

/* #travelDetailsForm .t-highlighted {
	color: #f70000;
}
#travelDetailsForm .t-highlighted, #travelDetailsForm .t-hover-day {
	background: #c00000;
} */

.popover-body {
	min-width:211px; box-shadow:0 7px 15px rgba(0,0,0,0.25); border:1px solid #eaeaea; border-radius:4px;
}
.popover-body ul {
	margin: 0;
overflow:hidden;
}
.popover-body ul li {
	list-style-type: none;
	font-size: 13px;
	margin: 10px 0;
	font-family:'Roboto';
	font-family:400;
	letter-spacing:1px;
}

.popover-body ul li i.fa-minus-circle, .popover-body ul li i.fa-plus-circle {
	cursor: pointer;
	color: #b3ce2b;
	font-size: 18px;
}
.popover-body ul li.no-rooms {    
	padding-bottom: 10px;
	border-bottom: 1px #CED4DA solid;

}
.popover-body ul li.child-opt:last-child {
	padding-bottom: 10px;
	border-bottom: 1px #CED4DA solid;
}
.popover-body ul li i.btn-min {
	color: #CED4DA;
}
.ui-autocomplete-loading { background:url('images/ajax-loader-red.gif') no-repeat right center }
#travelDetailsForm button.btn, .popover-body input.booking-apply {
	background:#b3ce2b;
}
.ui-autocomplete .fa-map-marker {
	color: #f70000;
}
.ui-autocomplete .ui-menu-item-wrapper {
	padding: 4px 1em 4px .4em;
	letter-spacing: 0.1em;
	font-family: roboto;
}

.ui-autocomplete .ui-state-active {
	background: #f70000;
	border: 1px solid #fff;
}

.ui-autocomplete .ui-state-active .fa-map-marker{
	color: #fff
}

.t-table-wrap {font-size:12px; font-family:'roboto';font-weight:400;}

#travelDetailsForm .has-error {
	color: #fff;
	font-size: 10px;
	position: absolute;
	bottom: -30px;
	letter-spacing: 0.1em;
	left: 15px;
	top: 42px;
	background: #f20;
	padding: 5px 15px;
	border-radius: 3px;
	height: 29px;
	z-index: 10;
 }
 #travelDetailsForm .has-error::after {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid red;
	content: "";
	position: absolute;
	top: -10px;
	left: 15px;
 }
 @media (max-width:1199px) {
		#travelDetailsForm .has-error {
		 position: relative;
		 top: 0;
		 padding: 2px 15px;
		 height: 23px;
		 left:0;}
	 #travelDetailsForm .has-error::after {
	 }
 }